html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

 .page-container { 
  display: flex;
  flex-direction: row;  
  font-family: Times;
  background-color: #09131C;  
  height: 100vh;
  overflow-y: auto;  
}


 /* Search area section */ 
  
 .search-area{
    width: 20vw; 
    height: 100vh;
    position: fixed;
    background-color:  #09131C;
    }
    
  .search-area-content {
    margin: 0 auto;
    height: 100vh;
    width: 200px;
    }
    
  .searchicon {
   color: #BEB9A1;
   text-shadow: 0 0 0px #BEB9A1, 0 0 10px #BEB9A1, 0 0 0px #BEB9A1, 0 0 20px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1;
   width: 18px;
   height: 18px;
   position: absolute;
    padding: 3px;
    }
    


.champions {
  margin-top: 20px;
  text-align: center;
  color: #BEB9A1;
  text-shadow: 0 0 0px #BEB9A1, 0 0 10px #BEB9A1, 0 0 0px #BEB9A1, 0 0 20px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1;
}


.mastery-score-box{
  border: 4px solid #363A31; 
  border-radius: 10%; 
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
} 

.mastery-score-box p  {
  color: #BBAC86;
  text-align: center;
}

.mastery-score  {
  margin-top: 10px;
}

.milestones-passed {
  margin-top: 20px;
}

.input-container {
 margin-top: 30px; 
 height: 100vh; 
}

input {
  text-indent: 30px;
  color: #BEB9A1;
  text-shadow: 0 0 0px #BEB9A1, 0 0 10px #BEB9A1, 0 0 0px #BEB9A1, 0 0 20px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1;
  border:4px solid #363A31;
  background-color: #09131C;
  width: 180px;
  }

 input:focus {
  outline: none !important;
  border:2px solid #24251C;
  }



/* result section */

ul {
 display: grid; 
 grid-template-columns: repeat( auto-fit, minmax(150px, 150px) );
 list-style: none;
 grid-gap: 50px;

}


li { 
color: #BEB9A1;
text-shadow: 0 0 0px #BEB9A1, 0 0 10px #BEB9A1, 0 0 0px #BEB9A1, 0 0 20px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1, 0 0 0px #BEB9A1;
height: 220px;
border: 1px #09131C solid;
}

li:hover {
  border: 1px #BEB9A1 solid;
}

li div {
 height: 100%;
 width: 100%;
}

li p {
  text-align: center;
  margin-top: 5px;
}

.champion-name {

  height: 100%;
}

.result-area{
  margin-top: 60px;
  width: 80vw;
  height: 100%;
  margin-left: 20vw;
/*   background-color: #09131C;   */ 
  }

/* page loader css */

/* css for page loader */

.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}